/* HOME */

.cover {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cover button {
  background-color: #771B04;
}

.search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-form h1 {
  color: white;
}

.search-form input,
.search-form select {
  width: 100% !important;
}

.search-form * {
  margin-top: 20px;
}
.search-form h1{
  color: black;
}

.wall{
  position: absolute;
  height: 100%;
  width: 100%;
  opacity : 0.4;
  background-image: url('/img/fondo1.png')
}

/* Esta seccion es de filter */


/* Fin seccion es de filter */


/* Esta seccion es de map */


/* Fin seccion es de map */


/* Esta seccion es de home */


/* Fin seccion es de home */
