/* HOME 
--------------------------------------------------------- */
/* navbar 
--------------------------------------------------------- */
.navbar{
        box-shadow: 0 0 8px 1px;
}

.navbar-default .navbar-brand {
    font-size: 28px;
    color: #CCC;
    font-family: 'Varela Round', sans-serif;

}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:visited {
    color: #CCC;
}

/* form & text & buttons home 
--------------------------------------------------------- */

.wall {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('../img/fondo.png');
    background-position: center;
}

.cover {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: 'Varela Round', sans-serif;
}

.cover > div {
    width: 500px;
}

.cover h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px black; 
}

.cover p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 22px;
    color: white;
    margin: 0 auto;
    text-align: center;
    text-shadow: 1px 1px 2px black; 
}

.search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-form * {
    margin-top: 20px;
}

.search-form input,
.search-form select {
    width: 100% !important;
}

.search-form input,
.search-form select {
    font-family: 'Roboto', sans-serif;
}

.search-form input {
    color: #b2b2b2;

}

#inputBarcelona {
    pointer-events: none;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 15px;
  color: #414141;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.search-form select {
    cursor: pointer;
    border-color: #ccc;
}

.btn-primary {
    background-color: #E74C3C;
    border: 0;
    transition: all 0.3s ease 0s;
}

.btn-primary:hover {
    background: #e52110;
}

.label-home {
    width: 100% !important;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 768px) {
  .cover h1 {
    margin-top: 20%;
    font-size: 28px;
  }
  .cover p {
    font-size: 20px;
  }
  .wall {
    background-position: 30% 20%;;
}
}

/* template filters
--------------------------------------------------------- */

section h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.list-details {
  margin-top: 6%;
}
.list-details p{
    font-size: 18px;
    margin-bottom: 3%;
}

p strong {
    color: #E74C3C;
}


#input-filter {
  margin-bottom: 3%;
}

.list-group {
  list-style: none;
}
.list-head {
    padding-left: 3%;
display: flex;
justify-content: space-between;
}

.list-head span {
  font-weight: bold;
 font-family: 'Varela Round', sans-serif;
 font-size: 20px; 
}
.label-time {
    color: #9f9fa3;
}

.list-group i {
    padding-top: 10px;
    font-size: 16px;
    color: #E74C3C;
}


@media (max-width: 320px) {
  .form-group {
    margin-top: 20%;
  }
}


/* ***** price buttons ***** */

.main-panel {
    box-shadow:0 2px 9px;
}

.list-prices {
    list-style: none;
    padding-left: ;
}

.list-prices img {
    margin-right: 8px;
}
