/* HOME */

iframe {
  width: 100%;
  height: 450px;
}

ul li {
  list-style: none;
}

.cover {
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.cover button {
	background-color: #771B04;
}

/*.cover {
	display: flex;
	justify-content: center;
	align-items: center;
}*/

/* Esta seccion es de filter */


/* Fin seccion es de filter */
/* Esta seccion es de map */


/* Fin seccion es de map */
/* Esta seccion es de home */


/* Fin seccion es de home */
