<style type="text/css">
  border: 2px solid red;
</style>
<div class="container">
  
  
<div class="row">
  <form class="form-inline" role="form">
    <div class="form-group">
      <label for="">Filter results...</label>
      <input ng-model="query" type="text" class="form-control" id="" placeholder="Input field">
    </div>
  </form>
  <ul>
    <li ng-repeat="station in stations | filter: query">
      <h4>{{ station["Rótulo"] }}</h4>
      <p>{{ station["Dirección"] }} {{ station["C.P."] }}</p>
      <p>{{ station["Municipio"] }} - {{ station["Localidad"] }}, {{ station["Provincia"] }}</p>
      <ul>
        <li ng-show='attribute.includes("Precio") && attribute.includes("Gasolina")' ng-repeat="(attribute, value) in station">
          <p><img width="20" src="https://image.flaticon.com/icons/png/128/115/115101.png"> {{attribute}} → {{value}}</p>
        </li>
      </ul>
    </li>
  </ul>
</div>
</div>
