  <div class="container" ng-controller="homeController">
   <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation"  class="active"><a href="#/">home</a></li>
          <li role="presentation"><a href="#/filters">filters</a></li>
          <li role="presentation"><a href="#/map">map</a></li>
        </ul>
      </nav>
    </div>
  </div>
<div class="container-fluid" >
  <header id="header-main">
    <form role="form">
      <div class="form-group">
        <div class="input-group">
          <input ng-model="locationName" class="form-control" type="text" placeholder="put you location..." required/>
          <div class="input-group-btn">
            <button class="btn btn-success" type="submit" ng-click="searchLocation()">
              <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
              <span>Search</span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </header>
  <nav class="hidden-lg">
    <ul class="row">
      <li class="col-xs-4"><i class="fa fa-map-o fa-5x" aria-hidden="true"></i></li>
      <li class="col-xs-4"><i class="fa fa-list fa-5x" aria-hidden="true"></i></li>
      <li class="col-xs-4"><i class="fa fa-filter fa-5x" aria-hidden="true"></i></li>
    </ul>
  </nav>
  </main>
</div>
