<div class="wall"></div>
<div class="container-fluid">
<div class="cover">
  <div>
    <h1>Find gas stations near you</h1>
    <p>GasFinder allows you to find the filling stations in Barcelona with the best prices in all types of fuels</p>
    <form class="form-inline search-form" role="form">
      <div class="form-group inner-addon left-addon">
        <label class="sr-only" for="">label</label>
        <i class="glyphicon glyphicon-search"></i>
        <input type="text" class="form-control input-lg" id="inputBarcelona" value="  Barcelona" placeholder="Barcelona" disabled>
        <select class="input-lg" ng-model="queryLocation" required>
          <option ng-selected="selected" value="">Select a location</option>
          <option ng-repeat="station in gasStations" value="{{ station.id }}">{{ station.name }}</option>
        </select>
      </div>
      <button ng-click="getStationsByTown()" type="submit" class="btn btn-lg btn-primary">SEE GAS STATIONS</button>
      <label for="" class="label-home">Coming soon more cities</label>
    </form>
  </div>
  </div>
</div>
