<div class="cover">
    <form  class="form-inline search-form" role="form">
        <div class="form-group">
            <label class="sr-only" for="">label</label>
            <input ng-model="query" type="text" class="form-control input-lg" id="inputBarcelona" value="Barcelona" placeholder="Barcelona">
        </div>
         <button ng-click="searchLocation()" type="submit" class="btn btn-lg btn-primary">Search</button>
    </form>
</div>
<div class="cover2">
    <form class="form-inline search-form" role="form">
        <div class="form-group">
            <label class="sr-only" for="">label</label>
            <select class="input-lg">
                <option ng-repeat="station in gasStations" ng-model="queryMunicipio">{{ station["Municipio"] }}</option>
            </select>
        </div>
       
    </form>
</div>
<!-- <ul>
        <li ng-repeat="station in gasStations | filter: query">
          <h4>{{ station["Rótulo"] }}</h4>
          <p>{{ station["Dirección"] }} {{ station["C.P."] }}</p>
          <p>{{ station["Municipio"] }} - {{ station["Localidad"] }}, {{ station["Provincia"] }}</p>
          <ul>
            <li
              ng-show='attribute.includes("Precio") && attribute.includes("Gasolina")'
              ng-repeat="(attribute, value) in station"
            >
              <p><img width="20" src="https://image.flaticon.com/icons/png/128/115/115101.png"> {{attribute}} → {{value}}</p>

            </li>
          </ul>

        </li>
      </ul> -->
